h1,h2,h3,h4,h5,h6{
  font-family: 'Lato', sans-serif;
  color: #222831;

}

p,a,input,label,textarea,span,ul,li{
  font-family: 'Lato', sans-serif;
}


h3{
  font-size: 30px;
  line-height: 1.5;
}

p{
  font-size: 14px;
  color: #707070;
  margin-left: 20px;
  margin-right: 20px;

}

p.lead{
  color: black;
  margin-top: 30px;

}

p.db-lead{
  margin-top: 30px;
  font-size: 18px;
  color: #222831;
  font-weight: bold;
}

p.detail{
  font-size: 15px;
  line-height: 2;
}

p.tit{
  font-size: 15px;
  margin-left: 0;
  margin-top: -10px;
}

body{
}

.navbar-light {
  background-color: white!important;

}
#intro .jumbotron {
   /*  background-color: white!important; */
    filter: blur(4px);
	  -webkit-filter: blur(4px);
   /* Full height */
    height: 100%;
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
	background-position: center;
    background-size:  cover;

}


#intro .bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  border: 0.2vmax solid #f1f1f1;
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */ 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 45vmax;
  padding: 0px;
}

img{
  max-width: 100%;
}

#intro h1{	background-repeat: no-repeat;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.5;
}

#intro .container{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%) ;
   transform:  translateY(-50%);
}

header nav img{
  width: 100px;
}

header li right{
  float: right;
  margin: 0 10px;

}

header nav{
  background: white;
}

header nav img{
  margin-left: 50px;
}


header .container .row{
  position: relative;
  margin-left: 650px;

}

/* .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #8064A2 !important;
} */

.btn{
background: #596e79;
color: white;
border-radius: 30px;
}


#about{
  padding: 50px 30px;
}

#about p{
  margin-top: 20px;
}
#about h3{
  margin-bottom: 30px;
}


#about img{
  margin-bottom: 10px;
}

#db-info{
  padding: 50px 0;
}

#db-info img{
  margin-bottom: 10px;
  margin-top: 30px;
}

.darker-black{
  background: rgb(248,248,248);
}

#projects{
  padding: 50px 30px;
}

#projects img{
  margin-top: 40px;
}

#latest{
  padding: 80px 0;
  /* background: rgb(248,248,248); */
}

#latest h3{
  margin-bottom: 50px;
}

#latest h4{
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

#latest h5{
  margin-top: 5px;
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
}
#latest .upper{
  position: relative;
}

#latest img{
  width: 80&;
}

#latest .innertext{
      position: absolute;
      bottom: 15px;
      right: 15px;
  }

#latest .innertext span{
  background:rgba(255,255,255,0.7);
  padding: 6px 10px;
  border-radius: 30px;
}

#latest .outer{
  margin-top: 40px;
  background: white;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.08 );
}

#latest .lower{
  padding: 0 5px 10px 0px;
}

#latest a{
  color: black;
}

#latest a:hover{
  text-decoration: none;
}


#latest .lower h4{
  margin-bottom: 5px;
}
#members{ 
  background: rgb(240,240,240);
  padding: 50px 30px;
}
#members .container{
}
#members h3{
  margin-top: 50px;
  margin-bottom: 50px;
}

#members li{
  margin-top: 10px;
  list-style: none;
  line-height: 1.5;
}

#members img{
  max-width: 40%;
}

#compressed_db{
/*   margin-top: 100px;*/
  padding: 0px 30px;  /* background: rgb(248,248,248); */
}

#compressed_db h3{
  margin-bottom: 50px;
}

#compressed_db h4{
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

#compressed_db h5{
  margin-top: 5px;
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
}
#compressed_db .upper{
  position: relative;
}

#compressed_db img{
  width: 80&;
}

#compressed_db .innertext{
      position: absolute;
      bottom: 15px;
      right: 15px;
  }

#compressed_db .innertext span{
  background:rgba(255,255,255,0.7);
  padding: 6px 10px;
  border-radius: 30px;
}

#compressed_db .outer{
  margin-top: 40px;
  background: white;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.08 );
}

#compressed_db .lower{
  padding: 0 5px 10px 0px;
}

#compressed_db a{
  color: black;
}

#compressed_db a:hover{
  text-decoration: none;
}


#compressed_db .lower h4{
  margin-bottom: 5px;
}

#filter_db{
  padding: 80px 0;
  /* background: rgb(248,248,248); */
}

#filter_db h3{
  margin-bottom: 50px;
}

#filter_db h4{
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

#filter_db h5{
  margin-top: 5px;
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
}
#filter_db .upper{
  position: relative;
}

#filter_db img{
  width: 80&;
}

#filter_db .innertext{
      position: absolute;
      bottom: 15px;
      right: 15px;
  }

#filter_db .innertext span{
  background:rgba(255,255,255,0.7);
  padding: 6px 10px;
  border-radius: 30px;
}

#filter_db .outer{
  margin-top: 40px;
  background: white;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.08 );
}

#filter_db .lower{
  padding: 0 5px 10px 0px;
}

#filter_db a{
  color: black;
}

#filter_db a:hover{
  text-decoration: none;
}


#filter_db .lower h4{
  margin-bottom: 5px;
}

#under_over_exposed_db{
  padding: 80px 0;
  /* background: rgb(248,248,248); */
}

#under_over_exposed_db h3{
  margin-bottom: 50px;
}

#under_over_exposed_db h4{
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}

#under_over_exposed_db h5{
  margin-top: 5px;
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
}
#under_over_exposed_db .upper{
  position: relative;
}

#under_over_exposed_db img{
  width: 80&;
}

#under_over_exposed_db .innertext{
      position: absolute;
      bottom: 15px;
      right: 15px;
  }

#under_over_exposed_db .innertext span{
  background:rgba(255,255,255,0.7);
  padding: 6px 10px;
  border-radius: 30px;
}

#under_over_exposed_db .outer{
  margin-top: 40px;
  background: white;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.08 );
}

#under_over_exposed_db .lower{
  padding: 0 5px 10px 0px;
}

#under_over_exposed_db a{
  color: black;
}

#under_over_exposed_db a:hover{
  text-decoration: none;
}


#under_over_exposed_db .lower h4{
  margin-bottom: 5px;
}

a.name{
  color:black;
}

footer {
  border-top: solid 1px #c9c9c9;
  padding-top: 30px;
  margin-bottom: 30px;
}

footer img{
  width: 100px;
  margin-bottom: 10px;
  padding-left: 20px;

}

footer ul{
  float: left;
  text-align: center;
  list-style: none;
  font-size: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 95px;
}

footer li{
  color: #707070;
  position: relative;
  margin-left: 5px;

}

footer h5{
  position: relative;
  margin-left: 18px;
  text-align: center;
}

footer p{
  position: relative;
  /* margin-left: 30px; */
  text-align: center;
}

.darker-black {
  background-color: #f0f0f0;
}


@media only screen and (max-width:768px) {

  header nav img{
    margin-left: 10px;
  }

  header .container .row{
    margin-left: 0;
  }

#intro{
margin-top: -30px;

}
  #about h5{
    margin-bottom: 33px;
  }

  #about p {
    text-align: center;
  }

  #latest .outer{
    width: 100%;
    margin-bottom: 30px;
  }

  #members img{
    margin-top: 30px;
 }

  footer h5{
    margin-top:  20px;
  }

  /* footer li{
    position: relative;
    padding-left: 5px;
    margin-left: 30px;
  } */

}
